<%- include('partials/header') %>
<h1 class="text-center font-semibold text-xl p-4">Enter new password</h1>
<form
  class="rounded w-96 mx-auto flex flex-col gap-5 p-4 bg-gradient-to-r from-yellow-300 to-yellow-100"
>
  <label class="text-white font-semibold" for="password">Password</label>
  <input
    type="password"
    name="password"
    placeholder="Bohn.2022!!"
    class="p-2 rounded outline-none"
  />
  <button class="bg-yellow-500 p-2 rounded w-fit mx-auto text-white">
    Log In
  </button>
  <div class="error"></div>
</form>
<script></script>

<%- include('partials/footer') %>
